/***** css given by the prof*****/

```css
body {
  font-family: Arial, Helvetica, sans-serif;
  color: #222;
}

.emoji {
  border: 1px solid #222;
  border-radius: 8px;
  padding: 1rem;
}

.emoji h2 {
  margin: 0;
  border-bottom: 2px solid #ccc;
}

.emoji a {
  text-decoration: none;
  background-color: #781BAA;
  color: white;
  padding: 1rem;
  border-radius: 8px;
}

.icon {
  font-size: 4rem;
}

                        /********** Flexbox **********/

.emoji {
display: flex;
    /**** I used flex here to organize the content in each card  *********/

  flex-direction: column;
    /***********   I used column to put the content from top to bottom. *****/
}

.icon {
        order: -1;
    /************ I used order to put the emoji before the title. */

    text-align: center;
    /******** I used text-align to put the emoji in the center. */
}

                    /****************** Grid **********/

.emojis {
          display: grid;
  /* I used grid here to organize the emoji cards. ******/

     grid-template-columns: 1fr 1fr;
  /********** I used two columns for the cards. */

  gap: 1rem;
  /********* I used gap to add space between the cards. */
}


                                    /********** Button *****************/

     .emoji a {
       margin-top: auto;
}